@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


/* seccion 1 */
.capa {
    position: fixed;
    width: 100%;    
    height: 100vh;
    background: #eb1d3596;
    z-index: -1;
    top: 0;
    left: 0;
}
    /* sombra con degradado */
/* Efecto de sombra con degradado alrededor de las formas */
.form1,
.form2,
.form3,
.form4,
.form2 {
    border-radius: 10px;
    margin: 20px;
    transition: box-shadow 0.4s ease;
}

/* Sombras alrededor de las formas */
.form1,
.form2,.form3,.form4,.form5{
    content: '';
    position: absolute;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.966);
    z-index: -1;
}

/* Cambio de sombra al pasar el cursor por encima de las formas */
.form1:hover,
.form2:hover,
.form3:hover,
.form4:hover, 
.form5:hover{
    box-shadow:0 10px 20px #5f3088;
}
    /* fin */



    /* imagen fuera de */
    .imgout{
        position: absolute;
        width: 200px;
        margin: 0;
        padding: 0;
        left:15vh;
        top: 35vh;
        z-index: -1;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.966);
        border-radius: 15%;
    }
    /* fin imagen */
.forms{
    position:absolute;
    text-align: center;
    z-index: -1;
    
}
/* opciones de agregar */
.form1{
    margin: auto;
    margin-top: 100px;
    margin-left: 400px;
    width: 850px;
    height: 600px;
    background-color: #ffffff;
    align-items: center;
    text-align: center;
}


.form1 h2{
    display: block;
    width: 100%;
    margin: 0;
    margin: 30px 0 10px 0;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 2.0rem;
    color: #E74646;
    
}
.form1 h4{
    display: block;
    width: 100%;
    margin: 0;
    margin: 10px 0 10px 0;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    color: #A555EC;
}
.form1 p{
    font-weight: 400;
    font-family: 'Heebo', sans-serif;
    font-size: 1.3rem;
    width: 90%;
    margin: auto;
    color: #202020;
    padding-top: 10px;
}

.form1 div{
    display: block;
    width: 100%;
    height:37%;
    margin-top: 10px;
    text-align: center;
}
.form1p1 p{
 padding-top: 20px;
 width: 600px;
 height:fit-content;
}
.form1p2 p{
    width: 500px;
    font-size: 1.2rem;
    margin-right: 300px;
}
.form1p2 img{
    position: relative;
    left: 250px;
    bottom: 190px;
    width: 220px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.637);
    border-radius: 8%;
}

/* opciones form 2 */
.form2{
    margin: auto;
    margin-top: 100px;
    margin-left: 400px;
    width: 850px;
    height: 600px;
    background-color: #ffffff;
    align-items: center;
    text-align: center;
}


.form2 h2{
    display: block;
    width: 100%;
    margin: 0;
    margin: 30px 0 10px 0;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 2.0rem;
    color: #E74646;
    
}
.form2 p{
    font-weight: 400;
    font-family: 'Heebo', sans-serif;
    font-size: 1.3rem;
    width: 90%;
    margin: auto;
    color: #202020;
    padding-top: 10px;
}

.form2 div{
    display: block;
    width: 100%;
    height:37%;
    margin-top: 10px;
    text-align: center;
}
.form2 img{
    width:300px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.637);
    border-radius: 8%;
}
/* form 3 */
.form3{
    margin: auto;
    margin-top: 100px;
    margin-left: 400px;
    width: 850px;
    height: 600px;
    background-color: #ffffff;
    align-items: center;
    text-align: center;
}

.form3 h2{
    display: block;
    width: 100%;
    margin: 0;
    margin: 30px 0 30px 0;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 2.0rem;
    color: #E74646;
}
.form3 p{
    font-weight: 400;
    font-family: 'Heebo', sans-serif;
    font-size: 1.5rem;
    width: 90%;
    margin: auto;
    color: #202020;
}

.form3 div{
    display: block;
    width: 100%;
    height: 40%;
    margin-top: 10px;
    text-align: center;
}
.form3p1 p{
 width: 400px;
 height: 100%;
 margin-right: 400px;
 padding-top: 40px;
}
.form3 img{
    position: relative;
    left: 200px;
    bottom:200px;
    margin: 0;
    padding: 0;
    width: 300px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.637);
    border-radius: 8%;
}

.form3p2 p{
    width: 400px;
    height: 100%;
    padding-top: 40px;
   }
/* form 4 */
.form4{
    margin: auto;
    margin-top: 100px;
    margin-left: 400px;
    width: 850px;
    height: 600px;
    background-color: #ffffff;
    align-items: center;
    text-align: center;
}


.form4 h2{
    display: block;
    width: 100%;
    margin: 0;
    margin: 30px 0 10px 0;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 2.0rem;
    color: #E74646;
    
}
.form4 p{
    font-weight: 400;
    font-family: 'Heebo', sans-serif;
    font-size: 1.4rem;
    width: 90%;
    margin: auto;
    color: #202020;
    padding-top: 10px;
}

.form4p1 {
    display: block;
    width: 100%;
    height:30%;
    margin-top: 10px;
    text-align: center;
}
.form4p2 {
    display: block;
    width: 100%;
    height:55%;
    margin-top: 10px;
    text-align: center;
}
.form4p2 img{
    position: relative;
    left: 250px;
    bottom: 220px;
    width:150px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.637);
    border-radius: 8%;
}
.form4p2 p{
    width:400px;
    padding-top:20px;
    margin-right: 400px;
}