/* fuentes */
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


/* seccion 1 */
.capa {
    position: fixed;
    width: 100%;    
    height: 100vh;
    background: #eb1d3596;
    z-index: -1;
    top: 0;
    left: 0;
}

/* opciones del dasboard(actualizar, eliminar etc) */
    /* sombra con degradado */
/* Efecto de sombra con degradado alrededor de las formas */
.form1,
.form2,
.form3 {
    border-radius: 10px;
    margin: 20px;
    transition: box-shadow 0.4s ease;
}

/* Sombras alrededor de las formas */
.form1,
.form2,.form3{
    content: '';
    position: absolute;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.767);
    z-index: -1;
}

/* Cambio de sombra al pasar el cursor por encima de las formas */
.form1:hover,
.form2:hover, 
.form3:hover{
    box-shadow:0 8px 19px #7801ffb0;
}
    /* fin */



    /* imagen adentro de forms */
    .forms img{
        position: absolute;
        width: 200px;
        margin: 0;
        padding: 0;
        left:15vh;
        top: 35vh;
        z-index: -1;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.966);
        border-radius: 15%;
    }
    /* fin imagen */
.forms{
    position:absolute;
    width:100%;
    height: 100%;
    text-align: center;
    z-index: -1;
}
/* opciones de agregar */
.form1{
    margin: auto;
    margin-top: 100px;
    margin-left: 400px;
    width: 800px;
    height: 540px;
    background-color: #ffffff;
}

.form1 img{
    position:fixed;
    width: 100px;
    left: 295px;
}
.form1 h1{
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    padding-top: 30px;
    color: #E74646;
}

.form1 div{
    display:inline-block;
    width: 300px;
    margin: 20px;
    margin-top: 40px;
}
.form1 label{
    width: 20px;
    font-size: 1.6rem;
    color: var(--color3);
}
/* los input text en la form ceran remplazados con textbos en c# */
.form1 input[type="text"]{
    width: 200px;
    margin-left: 30px;
    border: none;
    border-bottom: 1px solid rgb(112, 112, 112);
    outline: none;
    padding-bottom: 5px;
    background-color: #ffffff;
}
.form1 input[name="direccion"]{
    position: relative;
    right: 60px;
    top: 10px;
    width: 380px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(112, 112, 112);
    background: none;
}

.form1 input[type="textarea"]{
    width: 200px;
    height: 100px;
    margin-left: 30px;
    border: 1px solid rgb(112, 112, 112);
    outline: none;
    padding-bottom: 5px;
    background-color: #ffffff;
    resize: none;
}
.form1 input[type="radio"]{
    margin-left: 15px;
    margin-right: 10px;
}
.form1 input[type="submit"]{
    width: 150px;
    font-size: 1.5rem;
    padding: 5px;   
    margin-left: 10px;
    background-color: #ffffff;
    border: 1px solid var(--color7);
    color: #E74646;
}
.form1 input[type ="submit"]:hover{
    background-color: #0E8388;
    color: white    ;
}

/* opciones de agregar */
.form2{
    margin: auto;
    margin-top: 100px;
    margin-left: 400px;
    width: 800px;
    height: 540px;
    background-color: #ffffff;
}

.form2 img{
    position:fixed;
    width: 100px;
    left: 295px;
}
.form2 h1{
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    padding-top: 30px;
    color: #E74646;
}

.form2 div{
    display:inline-block;
    width: 340px;
    height: 60px;
    margin-top: 50px;
}
.form2 label{
    display: inline-block;
    color: var(--color3);
    font-size: 1.4rem;
    margin-right: 10px;
}
.form2 label[ for="SeleccionDui"]{
    margin-right: 350px;
    width: 190px;
}
#duiSelect{
    width: 180px;
    position: relative;
    top: 20px;
    right:80px;
}
/* los input text en la form ceran remplazados con textbos en c# */
.form2 input[type="text"]{
    width: 200px;
    margin-left: 30px;
    border: none;
    border-bottom: 1px solid rgb(112, 112, 112);
    outline: none;
    padding-bottom: 5px;
    background-color: #ffffff   ;
}
.form2 input[type="radio"]{
    margin-left: 15px;
    margin-right: 10px;
}
.form2 input[type="submit"]{
    width: 150px;
    font-size: 1.5rem;
    padding: 5px;   
    margin-left: 10px;
    background-color: #ffffff;
    border: 1px solid var(--color7);
    color:#E74646;
}
.form2 input[type ="submit"]:hover{
    background-color: #0E8388;
    color: white;
}
/* opciones de eliminar */
.form3{
    margin: auto;
    margin-top: 100px;
    margin-left: 400px;
    width: 800px;
    height: 540px;
    background-color: #ffffff;
}

.form3 h1{
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    padding-top: 30px;
    color: #E74646;
}

.form3 div{
    display:inline-block;
    width: 340px;
    height: 60px;
    margin-top: 50px;
}
.form3 label{
    display: inline-block;
    color: var(--color3);
    font-size: 1.4rem;
    margin-right: 10px;
}
.form3 label[ for="SeleccionDui"]{
    position: relative;
    top: 20px;
    margin-right: 350px;
    width: 190px;
}
.form3 #duiSelectDelete{
    width: 180px;
    position: relative;
    top: 40px;
    right: 10px;
}
/* los input text en la form ceran remplazados con textbos en c# */
.form3 input[type="text"]{
    width: 200px;
    margin-left: 30px;
    border: none;
    border-bottom: 1px solid rgb(112, 112, 112);
    outline: none;
    padding-bottom: 5px;
    background-color: #ffffff   ;
}
.form3 input[type="radio"]{
    margin-left: 15px;
    margin-right: 10px;
}
.form3 input[type="submit"]{
    width: 150px;
    font-size: 1.5rem;
    padding: 5px;   
    margin-left: 10px;
    background-color: #ffffff;
    border: 1px solid var(--color7);
    color:#E74646;
}
.form3 input[type ="submit"]:hover{
    background-color: #0E8388;
    color: white;
}