body {
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.login-table,
.account-check-table {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
}

h2 {
    color: #c92d3f;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #eb1d36;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #fa9484;
    border-radius: 4px;
    outline: none;
}

input[type="submit"] {
    background-color: #E74646;
    color: white;
    cursor: pointer;
    margin-top:10px ;
}

input[type="submit"]:hover {
    background-color: #A555EC;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.toggle-password {
    cursor: pointer;
    color: #333;
    font-size: 12px;
    margin-top: 5px;
    text-decoration: underline;
}
/* Añade estilos para la ventana modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1; /* Asegura que la ventana modal esté en la parte superior */
}

.modal-content {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.modal-close {
    cursor: pointer;
    color: #eb1d36;
    font-size: 20px;
}

.modal-close:hover {
    color: #a50f2f;
}

/* Agrega estilos para centrar la ventana modal en dispositivos pequeños */
@media screen and (max-width: 600px) {
    .modal-content {
        width: 80%;
    }
}