<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/iconos-blancos/home.png" type="image/x-icon">
    <title>inicio</title>
    <!-- boxicons link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- css -->
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/menulateral.css">
    <link rel="stylesheet" href="../css/contenidoinicio.css">
    <!-- java -->
    <script src="../java/change.js"></script>
</head>

<body>
    <div class="separador"></div>

    <div class="espacio">
    </div>
        <!-- opciones del dasboard(actualizar, eliminar etc) -->

            <!-- form para actualizar (aun en trabajo)= -->
            <form action="" class="form2" data-content id="actualizar">
                <h1>Datos</h1>

                <div>
                    <label for="">Nombre:</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Apellido:</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">carnet:</label>
                    <!-- los imputs text ceran remplazados con textbox en c# -->
                    <input type="text">
                </div>
                <div>
                    <label for="">Sexo:</label>
                    <input type="radio" name="M" id="" value="Maculino">
                    <label for="">Masculino</label>
                    <input type="radio" name="M" id="" value="Femenino">
                    <label for="">Femenino</label>
                    
                </div>
                <div>
                    <label for="">Dui:</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Motivo:</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">direccion:</label>
                    <input type="text">
                </div>
                <div>
                    <input type="submit" value="Agregar">
                </div>

            </form>
            <!-- fin form actualizar -->
        </section>

        <!-- codigo java script para hacer menu desplegable con taps -->
</body>

</html>